* {
    padding: 0%;
    margin: 0%;
}

.conatainer {
    height: 100vh;
    width: 100%;
    background-image: url("MM.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.nabar {
    font-family: cursive;
    opacity: 80%;
    /* background-color: rgb(164, 205, 198); */
}

.nabar :hover {
    color: rgb(39, 17, 31);
}

.nabar ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.rigth-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rigth-nav-right {
    font-size: 1.2rem;
}

.rigth-nav-left {
    font-size: 1.3rem;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rigth-nav li {
    list-style: none;
}

.rigth-nav li a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.left-nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.left-nav ul li {
    list-style: none;
    margin: 10px;
    margin-top: 40px;
}

.left-nav ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.serch {
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
}

.searchbar {
    border-radius: 20px;
}

.textform {
    height: 70%;
    width: 50%;
    color: white;
}

.top-text {
    margin-top: 80px;
    margin-left: 40px;
    font-size: 2.5rem;
}

.top-text :hover {
    color: rgb(191, 191, 219);
}

.mid-text {
    margin-left: 100px;
}

.mid-text :hover {
    color: rgb(63, 42, 42);
}

.btn {
    margin-left: 120px;
    margin-top: 40px;
}

button {
    height: 30px;
    width: 100px;
}

button:hover {
    background-color: black;
    color: white;
    font-size: 20px;
}

.mid-page {
    height: 800px;
    width: 100%;
    background-color: rgb(233, 231, 231);
}

.highlight {
    text-align: center;
    color: black;
    margin-top: 80px;
    font-size: 1.3rem;
}

.first-middiv {
    height: 480px;
    width: 350px;
}

.mid-div {
    height: 500px;
    width: 350px;
    border-radius: 20px;
}

.mid-div-img img {
    height: 350px;
    width: 340px;
    margin-left: 9px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mid-div-img h1 {
    color: rgb(28, 4, 4);
    text-align: center;
}

.mid-div-img p {
    color: rgb(18, 3, 14);
    text-align: center;
}

.mid-div-img button {
    margin-left: 60px;
    margin-top: 5px;
}

.mid-div {
    margin-left: 200px;
    display: flex;
    gap: 25px;
}

.border {
    border: 2px solid black;
    border-radius: 9px;
}